body {
  display: flex;
  position: relative;

  padding: 0;
  margin: 0;

  justify-content: center;

  height: 100vh;
  width: 100%;
}

.map__container {
  position: relative;

  width: 780px;
  height: 750px;

  display: flex;
}

.map__block {
  top: 0;
  left: 0;
  position: absolute;

  width: 350px;
  height: 350px;

  pointer-events: none;
}

.map__block--chunk1 {
  left: 0;
  top: 220px;
}

.map__block--chunk2 {
  left: 100px;
  top: 100px;
}

.map__block--chunk3 {
  left: 310px;
  top: 50px;
}

.map__block--chunk4 {
  left: 410px;
  top: 250px;
}

.map__block--chunk5 {
  left: 260px;
  top: 380px;
}

.map__title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #2b2a2a;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.map__procent {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #2b2a2a;
  font-size: 16px;
  margin: 0;
  position: absolute;
  top: 57%;
  left: 50%;
  user-select: none;
  transform: translate(-50%, -57%);
  pointer-events: none;
}

.map__chunk {
  width: inherit;
  height: inherit;
  pointer-events: none;
}

.map__background {
  fill: #ccc;
}

.map__success {
  fill: rgb(112, 255, 83);
}

.map__svg-group {
  transform-origin: center;
  transition: 0.3s;
  transform: scale(0.87);
  pointer-events: visiblePainted;
}

.map__svg-group:hover {
  transform: scale(0.97);
}

.a {
  margin-top: -30px;
  margin-left: -20px;
}

.link {
  -webkit-tap-highlight-color: transparent; /* Для WebKit-браузеров (Chrome, Safari) */

  outline: none; /* Убирает контур при фокусе для десктопов */
}
/* .map__path {
  fill: #ccc;
  transition: 0.3s;
  transform: scale(0.85);
  transform-origin: center;
}

.map__path:hover {
  fill: #ddd;
  cursor: pointer;
  transform: scale(0.95);
} */
